@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --white: #F2EFDE;
  --burgundy: #5E0B15;
  --red:#90323D;
  --yellow: #FFE66D;
  --blush: #FF6B6B;
  --mint_white: #F7FFF7;
  --dark_brown: #463F3A;
  --dark_medium: #8A817C;
  --light_medium: #BCB8B1;
  --light: #F4F3EE;
  --cream: #F2EFDE;
}

body{background-color: var(--cream);
}

h1 {font-family: Amatic SC, Italiana, Serif;
  font-size: 5.7em;
  font-weight: 100;
  margin-top: 80px;
  text-align: center;
  letter-spacing: -1px;
  color: var(--dark_brown);
}

h2 {font-family: Amatic, Italiana, Serif;
  font-size: 4.7em;
  font-weight: 100;
  margin-top: 30px;
  letter-spacing: -1px;
  color: var(--dark_brown);
}

h5 {font-family: Roboto, Italiana, Serif;
  font-size: 5.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: var(--dark_brown);
}

h6 {font-family: Roboto, Italiana, Serif;
  font-size: 5.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: var(--dark_brown);
}

li {font-family: Roboto, Italiana, Serif;
  font-size: 1rem;
  font-weight: 400;

  letter-spacing: -1px;
  color: var(--dark_brown)
}

p {font-family: Roboto, EB Garamond, Serif;
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  margin-right: 150px;
  margin-left: 150px;
  text-align: center;
  letter-spacing: -1px;
  color: var(--dark_brown)
}




<!--make h6 bigger for packages pricing-->
    #package_containers {
    text-align: center;
    }
<!--could not create classes for packages - did not work, so had to make duplicate ids-->
<!--the below package id styles can't be changed otherwise background colour is lost - why?-->
<!--    #package {-->
<!--    background-color: var(--cream);
<!--    height: 100%-->
<!--    width: 100%-->
<!--    }-->
    #package {
    display: inline-block;
    width:30%
    vertical-align: center;
    background-color: var(--cream);
    }
    #package:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
	position:relative;
	top:-.4em;
	background:#f4f3ee;
	}
    #package_information {
    text-align: center;
    }
    #booking {
    background-color: var(--cream);
    }
    #payment {
    background-color: var(--cream);
    }

    #booking{
    margin:auto;
    }
    #payment{
    margin:auto;
    }
.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%
    display: grid;
    place-items: centre;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100%
}

img:hover {
    transform: translateZ(20px);
}


.slider::before,
.slider::after {
   background: linear-gradient (to right, rgba(255,255,255,1) 0%,
   rgba(255,255,255,0) 100):
   content: '';
   height: 100x;
   position: absolute;
   width: 15;
   z-index: 2;
}

.slider::before {
   Left: 0;
   top: 0;
}

.slider::after {
   right: 0;
   top: 0;
   transform: rotateZ(180deg);

}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%
    display: grid;
    place-items: centre;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100%
}

img:hover {
    transform: translateZ(20px);
}


.slider::before,
.slider::after {
   background: linear-gradient (to right, rgba(255,255,255,1) 0%,
   rgba(255,255,255,0) 100):
   content: '';
   height: 100x;
   position: absolute;
   width: 15;
   z-index: 2;
}

.slider::before {
   Left: 0;
   top: 0;
}

.slider::after {
   right: 0;
   top: 0;
   transform: rotateZ(180deg);
   }


<!--    #booking_payment {-->
<!--    height: 100%;-->
<!--    width: 100%;-->
<!--    }-->
<!--    h1 {-->
<!--    text-align: center;-->
<!--    @media (min-width: 768px) {-->
<!--    #booking_payment {-->
<!--    display: flex;-->
<!--    flex-wrap: wrap;-->
<!--    }-->
<!--    }-->