<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/calculator.css">
</head>

<body>

{% extends "layout.html" %}
{% block body_content %}


 <h3>
  Calculate:
</h3>
<h4>
     <small class="text-muted">This is only an estimate, to get a true quote please contact us via our Contact Form.</small>
</h4>
<div class="calculator">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.distance.label }} {{ form.distance }} <br><br>
        {{ form.duration.label }} {{ form.duration }} <br><br>
        {{ form.no_people.label }} {{ form.no_people }} <br><br>
        {{ form.calc }}
    </form>
</div>
<br>
<!--<div class="calculator">-->
<!--    <label for="Distance">Distance from London (An estimate is fine)<br> <strong>In Miles to the closest full mile:</strong></label>-->
<!--        <input type="int" id="Distance" name="Distance" value=""><br><br>-->

</div>


{% endblock %}
</body>
</html>