<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles2.css">
    <title>Timeless Treasures</title>
</head>
<body>
{% extends "layout.html" %}
{% block body_content %}
    <h1 style="color:black; font-family: 'Satisfy', cursive; position: centre;">Timeless Treasure
    <h2>Timeless Treasures photography was created for individuals who enjoy artistic photography. Whether you’re looking to change the ambience of your space with new wall art or book a photoshoot for yourself or your loved ones, we’ll deliver a personalised service focusing on your needs</h2>
    <h3>The wall art shop accepts creative photography submissions from passionate artists for the most varied product selection possible. The delivery of your purchase will include information about the artist and the photograph. Our wall art is customisable, we print on the highest quality paper, which comes in various sizes and finishes. The proceeds of our wall art sales are split between the printing and shipping costs, the artist, and the rest is donated to various community groups that support exploration of creativity in local youths.
    <h4>Our photoshoot experiences are fully tailored to your requirements to capture moments you’ll want to keep forever. From running through fields, picnicking in meadows, splashing in the sea, to enjoying a breakfast at a coffee shop, the only limit for the location is your imagination. Our aim is to create an exciting and enjoyable experience that you’ll want to remember, allowing you to become relaxed and comfortable in front of the camera for the most natural results. The packages page gives an indication of pricing, however please contact us with your expectations for an exact quote.</h4>


    <div class="slider">
        <div id="slider" class="slide-track">
       <!-- 9 SLIDES-->
           <div class="slide">
              <img src='static/images/shop/london-childrens-photographer-004-1226x818.jpg'/>
           </div>
           <div class="slide">
               <img src='static/images/gallery/20210818173514_IMG_3340.jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/portraits/kmp-yorkshire-family-photography-9.jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/gallery/20210422183251_IMG_1091 (1).jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/gallery/20220228142811_IMG_4632.jpg'/>
           </div>
           <div class="slide">
               <img src='static/images/gallery/20210806180418_IMG_2724 (1).jpg'/>
           </div>
           <div class="slide">
               <img src='static/images/portraits/20220102171402_IMG_4272.jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/family/20200209143046_IMG_8658.jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/family/20210816122750_IMG_2928.jpg'/>
           </div>
    <!--SAME SLIDE AS ABOVE JUST DOUBLED-->
           <div class="slide">
              <img src='static/images/shop/london-childrens-photographer-004-1226x818.jpg'/>
           </div>
           <div class="slide">
               <img src='static/images/gallery/20210818173514_IMG_3340.jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/portraits/kmp-yorkshire-family-photography-9.jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/gallery/20210422183251_IMG_1091 (1).jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/gallery/20220228142811_IMG_4632.jpg'/>
           </div>
           <div class="slide">
               <img src='static/images/gallery/20210806180418_IMG_2724 (1).jpg'/>
           </div>
           <div class="slide">
               <img src='static/images/portraits/20220102171402_IMG_4272.jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/family/20200209143046_IMG_8658.jpg'/>
           </div>
           <div class="slide">
              <img src='static/images/family/20210816122750_IMG_2928.jpg'/>
           </div>
        </div>
    </div>
 {% endblock %}
</body>
</html>