<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>WEDDINGS</title>

</head>
<body>
{% extends "layout.html" %}
{% block body_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Trigger the Modal -->
<div class="image-container">
<img class="myImg" src="static/images/weddings/wedding-dresses.bonita.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/beach-wedding.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/istockphoto-940217166-170667a.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Alex-Claudia.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Hindu_wedding.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/magical-ceremony-ambience.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/620de348d1260.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/wedding.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/nadia-manjarrez.jpg" onclick="openModal();currentSlide(9)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/photo-1596744743105-b1e229d13036.jpg" onclick="openModal();currentSlide(10)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/2019_11_15_82438_1573807361.jpg" onclick="openModal();currentSlide(11)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/WeddingsCover-1400x935.jpg" onclick="openModal();currentSlide(12)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Asian+Wedding.jpg" onclick="openModal();currentSlide(13)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Decorium-London.jpg" onclick="openModal();currentSlide(14)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/alyssa-alex.jpg" onclick="openModal();currentSlide(15)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/mehndhi.jpg" onclick="openModal();currentSlide(16)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/coombe-abbey.jpg" onclick="openModal();currentSlide(17)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/istockphoto-1095795818-612x612.jpg" onclick="openModal();currentSlide(18)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/AnnaHolcombe.jpg" onclick="openModal();currentSlide(19)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/top-slider.jpg" onclick="openModal();currentSlide(20)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/download.jpg" onclick="openModal();currentSlide(21)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/MK4.jpg" onclick="openModal();currentSlide(22)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/istockphoto-1334549585-170667a.jpg" onclick="openModal();currentSlide(23)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/MapCompass.jpg" onclick="openModal();currentSlide(24)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/wedding_1640889655048_1640889677840.jpg" onclick="openModal();currentSlide(25)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/wedding-vows.jpg" onclick="openModal();currentSlide(26)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/30-scaled.jpg" onclick="openModal();currentSlide(27)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/help-you-to-see-whats-possible.jpg" onclick="openModal();currentSlide(28)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/photo-1591164473007-703c2c1c4905.jpg" onclick="openModal();currentSlide(29)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/main-2.jpg" onclick="openModal();currentSlide(30)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/shutterstock_764321713.jpg" onclick="openModal();currentSlide(31)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/62787-igor-2.jpg" onclick="openModal();currentSlide(32)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/photo-1583939003579-730e3918a45a.jpg" onclick="openModal();currentSlide(33)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Bride-at-pennyhill-park-wedding-venue.jpg" onclick="openModal();currentSlide(34)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Crier-8-copy.jpg" onclick="openModal();currentSlide(35)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Osmaston-Park.jpg" onclick="openModal();currentSlide(36)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Opu+Sultan+Photography+Asian+wedding+photography.jpg" onclick="openModal();currentSlide(37)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/sq-19e700c78c9d436c87b7821f68a050e1.jpg" onclick="openModal();currentSlide(38)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/wedding6.jpg" onclick="openModal();currentSlide(39)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/JessGeorge-115-867x1300.jpg" onclick="openModal();currentSlide(40)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Lush_Imaging.jpg" onclick="openModal();currentSlide(41)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/wedding-at-home.jpg" onclick="openModal();currentSlide(42)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/19203-5-flaura-botanica.jpg" onclick="openModal();currentSlide(43)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/Walk.jpg" onclick="openModal();currentSlide(44)" class="hover-shadow">
<img class="myImg" src="static/images/weddings/815675_1i2a8611.jpg" onclick="openModal();currentSlide(45)" class="hover-shadow">
</div> <!-- end image-container div -->


<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
        <div class="numbertext"> 1 / 45 </div>
        <img src="static/images/weddings/wedding-dresses.bonita.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 2 / 45 </div>
        <img src="static/images/weddings/beach-wedding.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 3 / 45 </div>
        <img src="static/images/weddings/istockphoto-940217166-170667a.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 4 / 45 </div>
        <img src="static/images/weddings/Alex-Claudia.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 5 / 45 </div>
        <img src="static/images/weddings/Hindu_wedding.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 6 / 45 </div>
        <img src="static/images/weddings/magical-ceremony-ambience.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 7 / 45 </div>
        <img src="static/images/weddings/620de348d1260.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 8 / 45 </div>
        <img src="static/images/weddings/wedding.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 9 / 45 </div>
        <img src="static/images/weddings/nadia-manjarrez.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 10 / 45 </div>
        <img src="static/images/weddings/photo-1596744743105-b1e229d13036.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 11 / 45 </div>
        <img src="static/images/weddings/2019_11_15_82438_1573807361.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 12 / 45 </div>
        <img src="static/images/weddings/WeddingsCover-1400x935.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 13 / 45 </div>
        <img src="static/images/weddings/Asian+Wedding.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 14/ 45 </div>
        <img src="static/images/weddings/Decorium-London.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 15 / 45 </div>
        <img src="static/images/weddings/alyssa-alex.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 16 / 45 </div>
        <img src="static/images/weddings/mehndhi.jpg" style="width:100%">
    </div>
     <div class="mySlides">
        <div class="numbertext"> 17 / 45 </div>
        <img src="static/images/weddings/coombe-abbey.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 18 / 45 </div>
        <img src="static/images/weddings/istockphoto-1095795818-612x612.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 19 / 45 </div>
        <img src="static/images/weddings/AnnaHolcombe.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 20 / 45 </div>
        <img src="static/images/weddings/top-slider.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 21 / 45 </div>
        <img src="static/images/weddings/download.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 22 / 45 </div>
        <img src="static/images/weddings/MK4.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 23 / 45 </div>
        <img src="static/images/weddings/istockphoto-1334549585-170667a.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 24 / 45 </div>
        <img src="static/images/weddings/MapCompass.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 25 / 45 </div>
        <img src="static/images/weddings/wedding_1640889655048_1640889677840.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 26 / 45 </div>
        <img src="static/images/weddings/wedding-vows.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 27 / 45 </div>
        <img src="static/images/weddings/30-scaled.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 28 / 45 </div>
        <img src="static/images/weddings/help-you-to-see-whats-possible.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 29 / 45 </div>
        <img src="static/images/weddings/photo-1591164473007-703c2c1c4905.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 30 / 45 </div>
        <img src="static/images/weddings/main-2.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 31 / 45 </div>
        <img src="static/images/weddings/shutterstock_764321713.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 32 / 45 </div>
        <img src="static/images/weddings/62787-igor-2.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 33 / 45 </div>
        <img src="static/images/weddings/photo-1583939003579-730e3918a45a.jpg"  style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 34 / 45 </div>
        <img src="static/images/weddings/Bride-at-pennyhill-park-wedding-venue.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 35 / 45 </div>
        <img src="static/images/weddings/Crier-8-copy.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 36 / 45 </div>
        <img src="static/images/weddings/Osmaston-Park.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 37 / 45 </div>
        <img src="static/images/weddings/Opu+Sultan+Photography+Asian+wedding+photography.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 38 / 45 </div>
        <img src="static/images/weddings/sq-19e700c78c9d436c87b7821f68a050e1.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 39 / 45 </div>
        <img src="static/images/weddings/wedding6.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 40 / 45 </div>
        <img src="static/images/weddings/JessGeorge-115-867x1300.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 41 / 45 </div>
        <img src="static/images/weddings/Lush_Imaging.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 42 / 45 </div>
        <img src="static/images/weddings/wedding-at-home.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 43 / 45 </div>
        <img src="static/images/weddings/19203-5-flaura-botanica.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 44 / 45 </div>
        <img src="static/images/weddings/Walk.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <div class="numbertext"> 45 / 45 </div>
        <img src="static/images/weddings/815675_1i2a8611.jpg" style="width:100%">
    </div>


    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
{% endblock %}
</body>

</html>